@tailwind base;
@tailwind components;
@tailwind utilities;

/* src\components\game\Game.jsx */
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
    cursor: pointer;
}

.square.winner {
    background-color: yellow;
}

.boardRow:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.game-board {
    width: 300px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

button,
input {
    border: 1px solid black;
}